<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>DebugDataBandits Headquarters</title>
    <link href="../static/Style.css" th:href="@{/Style.css}" rel="stylesheet" />
</head>
<body>
    <div class="banner">
        <div class="navbar">
        <img src="../static/Cont.png" class="Logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Tic Tac Toe</a></li>
                <li><a href="#">Snake</a></li>
                <li><a href="#">TBD</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>WELCOME TO DDBANDITS HEADQUARTERS!</h1>
            <P>On this website, you will be able to find information about our team, our current project, our previous project, & more!</P>
            <div>
                <button type="button"><span></span>JOURNALS</button>
                <button type="button"><span></span>PREVIOUS PROJECT REPO</button>
            </div>
        </div>

    </div>
</body>

</html>