<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <title>DebugDataBandits Journals</title>
    <link rel="stylesheet" href="../static/JournalsStyle.css">
</head>
<body>
<div class="banner">
    <div class="navbar">
        <img src="../static/Cont.png" class="Logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Tic Tac Toe</a></li>
            <li><a href="#">Snake</a></li>
            <li><a href="#">TBD</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>JOURNALS</h1>
        <P>Click the buttons below in order to access our journals!</P>
        <div>
            <button onclick="window.location.href='https://docs.google.com/document/d/1ttGOV9xKKQJDgc62aTuH_yFzdmDKxjterivHSrKfCXg/edit?usp=sharing';"><span></span>ADITYA & JACOB</button>
            <button onclick="window.location.href='https://docs.google.com/document/d/1jgHvQBN7d_RewpHgXTAqEy7xr8vyGKlrwRBtOOn9sF8/edit?usp=sharing'"><span></span>ARNAV & ATHARVA</button>
        </div>
    </div>

</div>
</body>
</html>